---
layout: default
title: "Homepage"
---

<h1>Diabetes: An Anonymous Journal</h1>
<p>
</p>

<div class="cost-table-text">
  <h2><a id="costs-permalink" href="/report/costs">Costs</a></h2>
  <p>
    The unfortunate reality is managing diabetes is expensive. This fact of life is true across the entire globe, be
    that the United Kingdom or the United States. However, in the United States, the healthcare system contributes to a
    unique set of hardships unparalleled with the rest of the developed world. There is neither free nor universal
    healthcare in the United States. This means that there is a physical, emotional, and <em>financial</em>
    cost for managing in the United States. Unfortunately, the financial cost is unbearable.</p>
</div>
<div class="cost-table deskContent">
<table>
  {% for row in site.data.costs %}
    {% if forloop.first %}
    <tr>
      {% for pair in row %}
        <th>{{ pair[0] }}</th>
      {% endfor %}
    </tr>
    {% endif %}

    {% tablerow pair in row %}
      {{ pair[1] }}
    {% endtablerow %}
{% endfor %}
</table>
</div>
<div class="phoneContent">
  <p>To see costs database, please visit <a href="/report/costs">here</a>. This webpage may be difficult to read and
  visiting on desktop is suggested.</p>
</div>
<hr>
<div class="resources-posts"><h2 class="shift-left-05em">Resources</h2>
{% for post in site.posts %}
{% if post.resource %}
  <p><a href="{{ post.url }}">{{ post.title }}</a>, {{ post.date | date: "%Y %B %-d" }}</p>
{% endif %}
{% endfor %}
</div>
